.so-widget-lsow-tabs-default-b97d7a4a58a5-2209 .lsow-tabs.style4 .lsow-tab-nav .lsow-tab.lsow-active:before {
  background: #087761;
}
.so-widget-lsow-tabs-default-b97d7a4a58a5-2209 .lsow-tabs.style4.lsow-mobile-layout.lsow-mobile-open .lsow-tab.lsow-active {
  border-left-color: #087761;
  border-right-color: #087761;
}
.so-widget-lsow-tabs-default-b97d7a4a58a5-2209 .lsow-tabs.style6 .lsow-tab-nav .lsow-tab.lsow-active a,
.so-widget-lsow-tabs-default-b97d7a4a58a5-2209 .lsow-tabs.style7 .lsow-tab-nav .lsow-tab.lsow-active a {
  border-color: #087761;
}
.so-widget-lsow-tabs-default-b97d7a4a58a5-2209 .lsow-tabs.style8 .lsow-tab-nav .lsow-tab.lsow-active a {
  border-left-color: #087761;
}