.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts {
  column-gap: 1.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 780px) {
  .so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts {
    display: block;
  }
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article {
  background: #ffffff;
  border: 1px solid #e6e6e6;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-title {
  
  font-size: 16px;
  
  
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-title a {
  color: #2d2d2d;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-title a:hover,
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-title a:focus {
  color: #626262;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta {
  
  font-size: 13px;
  
  
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta span {
  color: #929292;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta span a {
  color: #929292;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta span a:hover,
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta span a:focus {
  color: #f14e4e;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-header .sow-entry-meta:not(:last-child)::after {
  font-size: 13px;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-content {
  color: #626262;
  
  font-size: 14px;
  
  
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-content a {
  color: #f14e4e;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-content a:hover,
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-entry-content a:focus {
  color: #626262;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-blog-posts article .sow-more-link {
  
  font-size: 14px;
  
  
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .sow-nav-links {
  margin-top: 30px;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers {
  align-items: center;
  display: flex;
  height: 43px;
  justify-content: center;
  width: 40px;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers:not(.dots) {
  
  border: 1px solid #626262;
  
  color: #626262;
  
  font-size: 14px;
  
  
  margin-right: 8px;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers:not(.dots):last-child {
  margin-right: 0;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers:not(.dots).current,
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers:not(.dots):hover,
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .page-numbers:not(.dots):focus {
  
  color: #f14e4e;
  border-color: #f14e4e;
}
.so-widget-sow-blog-grid-e738875014fe-1741 .sow-blog-layout-grid .sow-post-navigation .dots {
  color: #626262;
  margin-left: -8px;
}